<nav class="navbar navbar-expand-lg fixed-top header-RM">
  <a class="navbar-brand p-4" href="#"><img width="180" src="assets/images/concord-logo.png" alt="Brand"/> </a>
  <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
    <i class="fas fa-bars text-white"></i>
</button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto w-100">
      <li class="nav-item"><a class="nav-link btn mt-1 ripple">Referrals</a></li>
      <li class="nav-item"><a class="nav-link btn mt-1 ripple">Dashboard</a></li>
      <li> <form class="form-inline my-2 ms-5 my-lg-0 position-relative">
        <input class="mr-sm-2 advance-search p-3 rounded-pill pe-5" placeholder="Search" type="text" />
        <i class="fas fa-search position-absolute"></i>
    </form></li>
    <li class="nav-item text-end"><a class="nav-link btn mt-1"><i class="far fa-bell"></i></a></li>
    <li class="nav-item"><a class="nav-link btn mt-1">Help</a></li>
    </ul>
  <div class="btn-group me-3">
    <button class="btn btn-secondary dropdown-toggle bg-transparent border-0 " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      William Powers
    </button>
    <ul class="dropdown-menu mt-4" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">preferences</a></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
  </div>
</nav>
