$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        height: 80px;

        .navbar-brand {
            color: #fff;
        }
        .nav-item{
          width: 100%;
          text-align: center;
        }
        li{
          .fa-search{
            right: 1.6rem;
            top: 1.2rem;
            color: #C6CAD2;
            cursor: pointer;
          }
        }
        .nav-item > a {
            color: #F2F2F4;
            display: inline-block;
            i.fa-bell{
              color: #C6CAD2;
              font-size: 1.5rem;
            }
            &:hover {
                color: #fff;
            }
        }
        .mat-menu-trigger{
          cursor: pointer;
        }
    }

    .messages {
        width: 300px;

        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }

            .small {
                margin: 0;
            }

            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

