<div class="alert-wrapper">

    <div *ngIf="data && data.type===types.ALERT">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/alert.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default"> {{data.msg}}</div>
        </div>
        <div class="text-right" id="alert">
            <button mat-flat-button color="accent" (click)="onClickClose()">CLOSE</button>
        </div>
    </div>

    <div *ngIf="data && data.type===types.FIELDALERTCONFIRM">
        <div class="text-center">
            <div class="mt-3 mb-3 cursor-default" [innerHTML]="data.msg"></div>
        </div>
        <div class="text-right" id="alert">
            <button mat-flat-button color="accent" (click)="onClickClose()">CLOSE</button>
        </div>
    </div>

    <div *ngIf="data && data.type===types.PROCESSALERTCONFIRM">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/alert.svg" class="alert_icon">
            </div>
            <pre class="mt-3 mb-3 cursor-default text-left" [innerHtml]="data.msg"></pre>
        </div>
        <div class="text-center" id="alert-confirm">
            <button mat-flat-button color="primary" (click)="onClickOk()">OK</button>
        </div>
    </div>


    <div *ngIf="data && data.type===types.ALERTCONFIRM">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/alert.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default">{{data.msg}}</div>
        </div>
        <div class="text-center" id="alert-confirm">
            <button mat-flat-button color="primary" (click)="onClickOk()">OK</button>
        </div>
    </div>

    <div *ngIf="data && data.type===types.CONFIRM">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/alert.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default">{{data.msg}}</div>
        </div>
        <div class="text-right">
            <button mat-flat-button color="primary" class="mr-3" (click)="onClickOk()" id="confrim">OK</button>
            <button mat-flat-button color="accent" (click)="onClickClose()" id="alert-cancel"> CANCEL</button>
        </div>
    </div>
    <div *ngIf="data && data.type===types.SUCCESS">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/check_green_tick.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default">{{data.msg}}</div>
        </div>
        <div class="text-right">
            <button mat-flat-button color="accent" class="mr-3" (click)="onClickClose()" id="cancel-success">CANCEL</button>
            <button mat-flat-button color="primary" (click)="onClickOk()" id="success">OK</button>
        </div>
    </div>
    <div *ngIf="data && data.type===types.INFO">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/check_green_tick.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default">{{data.msg}}</div>
        </div>
        <div class="text-right" id="info">
            <button mat-flat-button color="primary" (click)="onClickOk()">OK</button>
        </div>
    </div>
    <div *ngIf="data && data.type===types.WARN">
        <div class="text-center">
            <div>
                <img src="/web/assets/images/svg/alert.svg" class="alert_icon">
            </div>
            <div class="mt-3 mb-3 cursor-default">{{data.msg}}</div>
        </div>
        <div class="text-right" id="warning">
            <button mat-flat-button color="primary" (click)="onClickOk()">OK</button>
        </div>
    </div>
</div>