$topnav-background-color: #222;
.sidebar-RM {
	border-radius: 0;
	position: fixed;
	z-index: 1000;
	top: 80px;
	left: 256px;
	width: 256px;
	margin-left: -256px;
	border: none;
	border-radius: 0;
	overflow-y: hidden;
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 40px;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	.RF-status {
		overflow-y: auto;
		height: 76vh;
		overflow-x: hidden;
		li {
			padding: 0.8rem 1rem 0.6rem;
			line-height: 1.5rem;
			cursor: pointer;
			&:hover {
				background-color: #fff;
			}
		}
	}
	.list-group {
		a {
			&.list-group-item {
				border: 0;
				border-radius: 0;
				color: #999;
				text-decoration: none;
				background-color: transparent;
				.fa {
					margin-right: 10px;
				}
			}
			&:hover {
				background-color: #fff;
			}
		}
		.header-fields {
			padding-top: 10px;
			& > .list-group-item {
				&:first-child {
					border-top: 1px solid rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
	.toggle-button {
		visibility: hidden;
	}
}
.sidebar-RM:hover .toggle-button, .sidebar-RM.collapsed .toggle-button {
	visibility: visible;
}
.nested-menu {
	.list-group-item {
		cursor: pointer;
	}
	.nested {
		list-style-type: none;
	}
	ul {
		&.submenu {
			display: none;
			height: 0;
		}
	}
	.expand {
		ul {
			&.submenu {
				display: block;
				list-style-type: none;
				height: auto;
				li {
					a {
						color: #fff;
						padding: 10px;
						display: block;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 992px) {
    .sidebar-RM {
        left: 0px;
    }
}

@media print {
    .sidebar-RM {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .header-fields {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}

.toggle-button {
    position: fixed;
    cursor: pointer;
    top: 109px;
    color: #aaaaad;
    font-size: 20px;
    left: 244px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.collapsed {
    width: 60px;

    span {
        display: none;
    }
}

.toggle-button.collapsed {
  left: 24px;
  width: 0;
}
.sidebar-RM.collapsed{
 width: 35px;
}
