<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
  class="sidebar-RM">
  <div class="p-3">
  <button *ngIf="!collapsed" class="add-referral p-1 w-100 text-white" mat-button color="primary">Add Referral</button>
  </div>
  <div class="RF-status" *ngIf="!collapsed">
<ul class="list-group">
  <li *ngFor="let referral of referrals; let i = index">
    {{referral}}
    <span class="badge badge-primary badge-pill float-right">14</span>
</li>
</ul>
<ul class="list-group">
  <li *ngFor="let referral of inprogressRF; let i = index">
    {{referral}}
    <span class="badge badge-primary badge-pill float-right">14</span>
</li>
</ul>
<ul class="list-group">
  <li *ngFor="let referral of closedRF; let i = index">
    {{referral}}
    <span class="badge badge-primary badge-pill float-right">14</span>
</li>
</ul>
</div>
  <!-- <div (click)="toggleCollapsed()"
    [ngClass]="{ collapsed: collapsed }"
    class="toggle-button">
    <i *ngIf="!collapsed" class="fas fa-chevron-circle-left"></i>
    <i *ngIf="collapsed"  class="fas fa-chevron-circle-right"></i>
  </div> -->

</nav>
