<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section [ngClass]="{ collapsed: collapsedSideBar }" class="main-container">
    <router-outlet></router-outlet>
</section>
<ngx-spinner></ngx-spinner>








