/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
* {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;

}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: #C0C1C4;
}

::-moz-placeholder {
  color: #C0C1C4;
  font-size: 1.955vmin;
}

-ms-input-placeholder {
  color: #C0C1C4;
  font-size: 1.955vmin;
}

:-moz-placeholder {
  color: #C0C1C4;
  font-size: 1.955vmin;
}
