/* You can add global styles to this file, and also import other style files */

/* theme set up for RM*/

@mixin theme($theme: #fff) {
  background: $theme !important;
}
body{
  font-family: Inter;
  font-style: normal;
  font-size: 16px !important;
  @include theme;
}

//common extend variable
.mat-menu-panel{
  @include theme($theme: #fff);
  .mat-menu-item{
    color: #1C1D22 !important;
  }
}
%common-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1C1D22 !important;
  font-size: 14px !important;
  border: 100px;
  padding: 7px !important;
 }
 // customized border radius
 @mixin radius($radius: 5px) {
  border-radius: $radius;
}
// header theme
.header-RM {
  @include theme($theme: #071A48);
  color: #F2F2F4;
}
.advance-search{
  @include theme($theme: #243457);
  color: #C6CAD2;
  min-width: 26vw;
  width: 100%;
  border: none;
  outline: none;
}
.referral-badge{
  @include theme($theme: #9CB7F5);
}
// sidebar theme
.sidebar-RM {
  @include theme($theme: #F2F2F4);
  color: #1C1D22
}

// badges
@mixin  badge($badge: #E5E7EB) {
  background: $badge !important;
  @extend %common-center;
}
.badge{
  @include badge;
  float: right;
}
.badge-blue{
  @include badge($badge: #2560E9);
 }

// theme buttons
@mixin theme-button($theme-button: #E5E5E5) {
  background: $theme-button;
}
button:focus{
  box-shadow: none !important;
}
.add-referral{
  @include theme-button($theme-button: #2560E9);
  @include radius($radius: 8px);
}
.accept{
  @include theme-button($theme-button:#007BFF);
}
@mixin theme-button-border($theme-button: 1px solid #C4C4C4) {
  border: $theme-button;
  @extend %common-center;
}
.decline{
  @include theme-button-border($theme-button: 1px solid #DC3545);
}
.move, .merge, .remove{
  @include theme-button-border;
}
// drop down theme
@mixin theme-dropdown($theme-dropdown: #F2F2F4) {
  background: $theme-dropdown;
  box-shadow: inset 0px -2px 0px #C6CAD2;
  @include radius($radius: 8px 8px 0px 0px);
}
.metrics{
  @include theme-dropdown($theme-dropdown: #F2F2F4);
}
.dropdown{
  @include theme-dropdown;
}
.search-RM{
  @include theme-dropdown($theme-dropdown: #74747c);
  @include radius($radius: 3px 3px 0 0);
}
// customized fonts
@mixin theme-fonts($theme-fonts: 16px) {
  font-size: $theme-fonts;
}
// customized font colors
@mixin font-color($font-color: #828282) {
  color: $font-color;
}
// popup theme/common styles
@mixin theme-popup($theme-popup: #F2F2F4) {
  color: $theme-popup;
}
%popup-title{
  color: #2F80ED;
}
%field-title{
  color: #333333;
}
.popup{
  @include theme-popup;
  h2{
     @extend %popup-title;
     @include theme-fonts($theme-fonts: 22px);
  }
  .field-title{
     @extend %field-title;
     @include theme-fonts;
  }
  .field-sub-title{
    @include theme-fonts($theme-fonts: 16px);
    @include font-color;
  }
  .cancel-RF{
    @include theme-button($theme-button:#F8F9FA);
  }
  .add-RF{
     @include theme-button($theme-button:#007BFF);
   }
   .decline-RF{
      @include theme-button($theme-button:#DC3545);
   }
   .characters-field{
      @include theme($theme: #F2F2F4);
      @include radius($radius: 3px 3px 0 0);
   }
}

.main-container {
    margin-top: 80px;
    margin-left: 256px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.collapsed {
    margin-left: 0px;
}
.main-container.collapsed{
  margin-left: 50px;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}


.rtl {
  .sidebar-RM {
      left: auto !important;
      right: 0 !important;
      text-align: right;
      > ul.list-group {
          padding: 0;
      }
  }
  .main-container {
      margin-left: 0 !important;
      margin-right: 256px;
  }

  * {
      direction: rtl;
  }
  .navbar * {
      direction: ltr;
  }

  .sidebar-RM * {
      direction: rtl;
  }


}
@media screen and (max-width: 992px) {
  .push-right {
      .sidebar-RM {
          left: 256px !important;
      }
  }
}

@media screen and (max-width: 992px) {
  .rtl {
      .navbar-brand {
          direction: ltr;
      }
      .sidebar-RM {
          right: -256px !important;
      }
      .main-container {
          margin-right: 0;
      }
      &.push-right {
          .sidebar-RM {
              left: auto !important;
              right: 0 !important;
          }
      }
  }
}
